<div class="container p-5" style="width:70vw">
    <form ng-submit="post()" ng-show="authenticated">
        <div class="mb-3 fw-bold">
            {{currentUser}} says :
            <!-- <input type="name" required class="form-control" id="name" placeholder="Your Name" ng-model="newPost.username"> -->
        </div>
        <div class="mb-3">
            <textarea required class="form-control" id="postText" rows="5" placeholder="Text" ng-model="newPost.text"></textarea>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Post</button>
        </div>
    </form>

    <div class="my-3">
        <div class="p-3 rounded" ng-repeat="post in posts | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
            <span class="fw-bold">{{post.username}}</span>
            <span class="fs-6 fw-light ml-5">{{post.created_at | date:"h:mma 'on' MMM d,y"}}</span>
            <p class="p-0 m-0">{{post.text}}</p>
        </div>
    </div>
</div>