<div class="container p-5" style="width:70vw">
    <form ng-submit="post()" ng-show="authenticated">
        <div class="mb-3 fw-bold">
            {{currentUser}} says :
            <!-- <input type="name" required class="form-control" id="name" placeholder="Your Name" ng-model="newPost.username"> -->
        </div>
        <div class="mb-3">
            <textarea required class="form-control" id="postText" rows="5" placeholder="Text" ng-model="newPost.text"></textarea>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Post</button>
        </div>
    </form>

    <show-posts posts="posts"></show-posts>
</div>